<div class="app-container" style="background-color: #f0f0f0;">
<h1 style="color: aqua; background-color: navy; padding: 10px;">SPERIDIAN TECHNOLOGIES</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-custom">
    <a class="navbar-brand" style="color: blue;">{{ title }}</a>                   
  <ul class="nav nav-pills" *ngIf="isloggedin()"  >
      
      <li >
          <a class="nav-link "  routerLinkActive="active " [routerLink]="['/login']"> Home</a>
      </li>
     
      <li >
          <a class="nav-link " [routerLink]="['/employees']" > EmployeeList</a>
      </li>
      <li >
          <a class="nav-link " [routerLink]="['/departments']" > DepartmentList</a>
      </li>
      <li>
        <a  class="nav-link " [routerLink]="['/departments/add']">  Add DepartmentList</a>
    </li>
    <li >
        <a class="nav-link " [routerLink]="['/employees/add']">  Add EmployeeList</a>
    </li>
    <li >
        <a class="nav-link " [routerLink]="['/login']" (click)="logout()"> Logout</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
</div>